@import "tailwindcss";

@theme {
    --color-background: #FAF3E8;
    --color-section-bg: #CDBDB1;
    --color-main-text: #383838;
    --color-content-text: rgba(0, 0, 0, 0.55);
}

body {
    background-color: var(--color-background);
}